<div class="dashboard-container">
  <aside class="sidebar">
    <div class="brand">
      <div class="logo-container">
        <span class="logo-icon">🎓</span>
        <div class="logo-text">
          <span class="main-title">FISI Prácticas</span>
          <span class="sub-title">UNMSM</span>
        </div>
      </div>
    </div>

    <div class="user-profile">
      <span class="user-icon">👤</span>
      <span class="user-name">Alumno</span>
    </div>
<nav class="menu">
    <a class="menu-item" [class.active]="vistaActual === 'informacion'" (click)="cambiarVista('informacion')">
    <i class="icon">👤</i> Mi información
  </a>
  <a class="menu-item" [class.active]="vistaActual === 'ofertas'" (click)="cambiarVista('ofertas')">
    <i class="icon">💼</i> Ofertas de prácticas
  </a>
  <a class="menu-item" [class.active]="vistaActual === 'postulaciones'" (click)="cambiarVista('postulaciones')">
    <i class="icon">📋</i> Mis postulaciones
  </a>
  <a class="menu-item" [class.active]="vistaActual === 'contrato'" (click)="cambiarVista('contrato')">
    <i class="icon">📄</i> Adjuntar contrato
  </a>
  <a class="menu-item" [class.active]="vistaActual === 'informes'" (click)="cambiarVista('informes')">
    <i class="icon">📊</i> Mis informes
  </a>
</nav>
    
    <div class="sidebar-footer">
      <button class="btn-logout" (click)="onLogout()">Cerrar sesión</button>
    </div>
  </aside>
    <div class="content-area"style="flex: 1; display: flex; flex-direction: column;">
  <app-ofertas-practicas *ngIf="vistaActual === 'ofertas'"></app-ofertas-practicas>
  <app-mis-postulaciones *ngIf="vistaActual === 'postulaciones'"></app-mis-postulaciones>
  <app-mi-informacion *ngIf="vistaActual === 'informacion'"></app-mi-informacion>
  <app-adjuntar-contrato *ngIf="vistaActual === 'contrato'"></app-adjuntar-contrato>
  <app-mis-informes *ngIf="vistaActual === 'informes'"></app-mis-informes>
</div>
</div>